DB_USER=postgres
DB_PASS=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=native_to
SECRET_KEY=very_secret
REDIS_URL=redis://redis:6379
BASE_URL=http://localhost:8000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin